#content {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    /* height: 600px; */
}

#player_and_ep_list{
    display: flex;
}

#loading_gif {
    padding: 50px;
    width: 50%;
}

#ep_list {
    max-width: 300px;
    max-height: 705px;
    min-height: 705px;
    min-width: 130px;
    border-right: #d9d4c5 solid 2px;
    padding: 10px;
    background-color: #d9d4c5;
    border-radius: 10px;
    margin-right: 20px;
    overflow: auto;
}

#left-content {
    max-height: 1100px;
}

#player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 725px;
    width: 100%;
    padding-top: 0px;
}

#video_player {
    width: 100%;
    height: 100%;
    border: none; 
}

.ep_data {
    display: flex;
    padding: 2px;
    cursor: pointer;
    font-weight: 500;
    background-color: #29282e;
    color: #d9d4c5;
    margin-bottom: 5px;
    border-radius: 5px;
}

.ep_data:hover {
    background-color: #db4523;
    color: #d9d4c5;
    border-radius: 5px;
}

.ep_num {
    padding: 5px;
}

.ep_titl {
    padding: 5px;
}

/* EVERYTHING UP IS FOR LIST OF EPISODES */

#_video {
    height: 100%;
}

#players_list {
    display: flex;
    flex-wrap: wrap;
}

.player_info {
    color: #29282e;
    background-color: #d9d4c5;
    padding: 2px;
    margin: 2px;
    font-weight: 400;
    display: flex;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}

.player_quality {
    padding-right: 3px;
}

.player_info:hover {
    background-color: #db4523;
}

.ready {
    background-color: rgb(79, 153, 79);
}

.active_ep {
    background-color: #db4523;
    color: #d9d4c5;
    border-radius: 5px;
}

.active_player {
    background-color: #db4523;
}

@media only screen and (max-width: 1540px) and (min-width: 1200px){
    #player_and_ep_list{
        flex-direction: column;
    }
    #player {
        order: 1;
        padding-left: 0;
        padding-right: 0;
    }
    #ep_list {
        order: 2;
        margin: 20px;
        max-width: none;
        min-height: max-content;
    }
}

@media only screen and (max-width: 1200px)  and (min-width:850px){
    #player_and_ep_list{
        flex-direction: column;
    }
    #content {
        flex-direction: column;
    }
    #left-content {
        max-height: none;
    }
    #player {
        order: 1;
        padding-left: 0;
        padding-right: 0;
    }
    #ep_list {
        order: 2;
        margin: 20px;
        max-width: none;
        min-height: max-content;
    }
    #players_list {
        padding: 20px;
        width: fit-content;
    }
    #video_player {
        width: -webkit-fill-available;
    }
}

@media only screen and (max-width: 850px) {
    #player_and_ep_list{
        flex-direction: column;
    }
    #content {
        flex-direction: column;
    }
    #left-content {
        max-height: none;
    }
    #player {
        order: 1;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }
    #ep_list {
        order: 2;
        margin: 20px;
        max-width: none;
        min-height: max-content;
    }
    #players_list {
        padding: 20px;
        width: fit-content;
    }
    #video_player {
        width: -webkit-fill-available;
        height: 400px;
    }

    #_video{
        height: 400px;
    }
}