#content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    /* height: 600px; */
}

#player_and_ep_list{
    display: flex;
}

#loading_gif {
    padding: 50px;
    width: 50%;
}

#ep_list {
    max-width: 500px;
    max-height: 685px;
    min-width: 130px;
    border-right: #d9d4c5 solid 2px;
    padding: 10px;
    /* overflow-y: scroll; */
    background-color: #d9d4c5;
    border-radius: 10px;
    margin-right: 20px;
    overflow: auto;
}

#player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 0px;
}

#video_player {
    width: 100%;
    height: 600px;
    border: none;
    
}

.ep_data {
    display: flex;
    padding: 2px;
    cursor: pointer;
    font-weight: 500;
    background-color: #29282e;
    color: #d9d4c5;
    margin-bottom: 5px;
    border-radius: 5px;
}

.ep_data:hover {
    background-color: #db4523;
    color: #d9d4c5;
    border-radius: 5px;
}

.ep_num {
    padding: 5px;
}

.ep_titl {
    padding: 5px;
}

/* EVERYTHING UP IS FOR LIST OF EPISODES */

#_video {
    /* border: 5px black solid; */
    min-height: 450px;
}

#players_list {
    display: flex;
    flex-wrap: wrap;
    /* border: 5px black solid; */
}

.player_info {
    color: #29282e;
    background-color: #d9d4c5;
    padding: 2px;
    margin: 2px;
    font-weight: 400;
    display: flex;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}

.player_quality {
    padding-right: 3px;
}

.player_info:hover {
    background-color: #db4523;
}

.ready {
    background-color: rgb(79, 153, 79);
}

.active_ep {
    background-color: #db4523;
    color: #d9d4c5;
    border-radius: 5px;
}

.active_player {
    background-color: #db4523;
}

@media only screen and (max-width: 960px){
    #content {
        flex-direction: column;
    }
    #player_and_ep_list{
        flex-direction: column;
    }
    #player {
        order: 1;
        padding-left: 0;
        padding-right: 0;
    }
    #ep_list {
        order: 2;
        margin:auto;
        width: -webkit-fill-available
    }
    #players_list {
        padding: 20px;
        width: fit-content;
    }
    #video_player {
        width: -webkit-fill-available;
    }
   }